<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header") %>
    <link rel="stylesheet" href="../stylesheets/styleHomePage.css">
    <link rel="stylesheet" href="../stylesheets/advisories.css">
    
    <title>Ditu - <%= results[0].country %></title>
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <a href="/" class="navbar-brand">DITU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <% if (logged_in) { %>
                    <li class="nav-item active">
                        <a href="/dashboard" class="nav-link">Profile</a>
                    </li>
                <li class="nav-item active">
                    <a href="/logout" class="nav-link">Log Out</a>
                </li>
                <% } else { %>
                <li class="nav-item active">
                    <a href="/login" class="nav-link">Log In</a>
                </li>
                <li class="nav-item active">
                    <a href="/signup" class="nav-link">Sign up</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <% results.forEach(function(r) { %>
            <h1><%= r.country %></h1>
            <h4>Risk Level</h4>
            <p><%= r.advisory %></p>
            <h4>Passport Requirements</h4>
            <p><%= r.passport %></p>
            <h4>Visa Requirements</h4>
            <p><%= r.visas %></p>
            <h4>Links</h4>
            <p><a href="<%= r.link %>">Office Travel Advice and Advisories from the Government of Canada</a></p>
            <h4>Last updated</h4>
            <p><%= r.updated %></p>
            <a href="/advisories"><button class="back">Back</button></a>
        <% }); %>
    </div>
</body>

</html>