<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header") %>
  <link rel="stylesheet" href="./stylesheets/reviews.css">
<title>My Reviews</title>
</head>

<body>
  <%- include ("../partials/nav") %>
  <div class="container"><br>
<p id="header">My Reviews</p>
<br>
<% rows.forEach(function(r) { %>
  <div id="review-container">
    <div id="review-title"><%= r.review_title %></div>
    <div id="review-info">
      Posted at <%= r.timestamp %>.<br>
      Location: <%= r.location %>.<br>
      Visited from <%= r.startdate %> until <%= r.enddate %></div>
    <p id="review-description"><%= r.description %> </p>
  </div>
<% }); %>
<br>
<a href="/info_map">Click here to return to the map, where you can view all reviews or add your own!</a>
<br><br>
<a href="/dashboard">Click here to return to the Dashboard</a>
<br><br>
</div>
</body>
</html>
