<!DOCTYPE html>
<html>
<head>
  <style>
body {
    background-color: lemonchiffon;
    color:black;
    font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px;
    line-height: 26px; 
    text-indent: 5px; 
}
#header{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300px;
  line-height: 0px;
}
#review-container{
  width: 800px;
}
#review-title{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 58px;
  border-bottom: solid blue;
}
#review-info{
  display: inline;
  display: inline-block; 
  font-family: 'Lato', sans-serif; 
  font-size: 12px; font-weight: bold; 
  line-height: 12px; 
  letter-spacing: 1px; 
  padding: 15px 8px; 
  text-transform: uppercase;
  text-indent: 0px;
}
#review-description{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}


</style>
<title>My Reviews</title>
</head>

<body>
<p id="header">My Reviews</p>
<br>

<% rows.forEach(function(r) { %>
  <div id="review-container">
    <div id="review-title"><%= r.review_title %></div>
    <div id="review-info">
      Posted at <%= r.timestamp %>.<br>
      Location: <%= r.location %>.<br>
      Visited from <%= r.startdate %> until <%= r.enddate %></div>
    <p id="review-description"><%= r.description %> </p>
  </div>
<% }); %>
<br>
<a href="/info_map">Click here to return to the map, where you can view all reviews or add your own!</a>
<br><br>
<a href="/dashboard">Click here to return to the Dashboard</a>
<br><br>
</body>
</html>
